<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoListMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
<section mv-app="todoapp" class="todoapp"
			mv-bar="none" mv-storage="local"
			mv-autosave="3"
			mv-mode="edit"
			mv-init="#data">
	<header class="header">
		@RenderBody()
	</header>
	 @await Component.InvokeAsync("TodoList")
	<footer hidden="[count(todo) = 0]" class="footer">
		
		<meta property="todoDone" content="[count(todo where done)]">
		<meta property="todoLeft" content="[count(todo where !done)]">
		
		<!-- This should be `0 items left` by default -->
		<span class="todo-count">
			<strong mv-value="todoLeft">0</strong>
			[if(todoLeft = 1, 'item', 'items')] left
		</span>

		<meta property="activeFilter" content="all" mv-storage="none">
		<ul class="filters">
			<li>
				<a class="[if(activeFilter = 'all', 'selected')]"
					mv-action="set(activeFilter, 'all')">All</a>
			</li>
			<li>
				<a class="[if(activeFilter = 'active', 'selected')]"
					mv-action="set(activeFilter, 'active')">Active</a>
			</li>
			<li>
				<a class="[if(activeFilter = 'completed', 'selected')]"
					mv-action="set(activeFilter, 'completed')">Completed</a>
			</li>
		</ul>
		<!-- Hidden if no completed items are left ↓ -->
		<button hidden="[todoDone = 0]"
				  class="clear-completed"
				  mv-action="delete(todo where done)">
			Clear completed
		</button>
	</footer>
</section>
<footer class="info">
	<p>Click to edit a todo</p>
	<p>Created by <a href="https://d12n.me/">Dmitry Sharabin</a></p>
	<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>




     </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
